<div class="relative flex flex-col w-full h-full">
    <h2 class="prose lg:prose-xl" mat-dialog-title >{{data.title}}</h2>
    <div class="flex flex-row" mat-dialog-content>
        <mat-form-field class="basis-1/2">
            <mat-label>Temática(s)</mat-label>
            <mat-select [formControl]="themesSeleted" multiple placeholder="Escolha a Temática">
                <mat-option *ngFor="let theme of themes" [value]="theme">
                    <strong class="mr-2">{{theme.label}}</strong>
                    <small>{{theme.description}}</small>
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="basis-1/2 ml-3">
            <mat-label>Estados</mat-label>
            <mat-select [formControl]="statesSeleted" multiple placeholder="Escolha o estado">
                <mat-option *ngFor="let state of states" [value]="state">
                    {{state.properties.TITULO}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div mat-dialog-actions align="end" class="mt-auto">
        <button mat-flat-button (click)="close()" cdkFocusInitial>Fechar</button>
    </div>
</div>
