<div #containerMap class="flex flex-col flex-auto min-w-0 h-full">
    <div class="flex flex-wrap items-center justify-around w-full h-full p-2">
        <ol-map
            [lat]="-15.496032 "
            [lon]="-50.053711"
            [zoom]="2.8"
            [width]="mapWidth"
            [height]="mapHeight"
            (ready)="onMapReady($event)"
            (clickPoint)="handlePoint($event)">
            <ol-control class="mobileHide" control="FullScreen"></ol-control>
            <ol-control class="mobileHide" control="scaleline"></ol-control>
            <ol-layer *ngFor="let layer of layers" [layer]="layer"></ol-layer>
            <div *ngIf="legends.length > 0" class="legend flex flex-col p-2">
                <div class="text-md text-center w-full font-bold mt-2 mb-2">Legenda(s)</div>
                <span class="mat-elevation-z2" *ngFor="let legend of legends">
                    <div class="flex flex-col p-1 ">
                        <div class="text-md text-center w-full font-bold mt-2 mb-2">{{legend.Title}}</div>
                        <img class="legend-img" [src]="legend.Style[0].LegendURL[0].OnlineResource" [alt]="legend.Title">
                    </div>
                </span>
            </div>
        </ol-map>
    </div>
</div>
<fuse-card *ngIf="displayFeatureInfo" id="overlay" class=" ol-popup min-w-min flex p-2" cdkDrag>
    <div class="flex flex-col w-full">
        <div class="flex  justify-between">
            <div class="text-lg text-center w-full font-bold">{{displayFeatureInfo?.TITULO}}</div>
            <button
                mat-icon-button
                [color]="'primary'"
                (click)="hidePopup()">
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'mat_outline:close'"></mat-icon>
            </button>
        </div>

        <div class="mt-2 justify-center">
            <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z2 w-full">
                <ng-container [matColumnDef]="'label'">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Dado</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="flex flex-col">
                            <strong>{{element.label}}</strong>
                            <small>{{element.description}}</small>
                        </div>
                    </td>
                </ng-container>
                <ng-container [matColumnDef]="'value'">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef>Valor</th>
                    <td mat-cell *matCellDef="let element">
                   <span>
                       <span> {{element.value | safeNumber:'1.0-2'}} </span>
                   </span>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator class="flex" #paginator [pageSize]="3" [pageSizeOptions]="[2, 3, 5, 10, 25, 100]"></mat-paginator>
            <mat-toolbar class="w-full">
                <mat-toolbar-row class="flex flex-col md:flex-row justify-between items-center">
                    <div class="flex items-center justify-between">
                        <button class="ml-4 mr-2" mat-raised-button color="accent" [matTooltip]="'Exportar XLSX'" (click)="toXLS()">
                            <mat-icon [svgIcon]="'table_view'"></mat-icon> XLSX
                        </button>

                        <button class="mr-2" mat-raised-button color="primary" [matTooltip]="'Exportar JSON'" (click)="toJSON()">
                            <mat-icon [svgIcon]="'description'"></mat-icon> JSON
                        </button>
                        <button mat-raised-button color="warn" [matTooltip]="'Exportar CSV'" (click)="toCSV()">
                            <mat-icon [svgIcon]="'grid_on'"></mat-icon> CSV
                        </button>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </div>
    </div>
</fuse-card>


