<div #containerMap class="flex flex-col flex-auto min-w-0 h-full">
    <div class="flex flex-wrap items-center justify-around w-full h-full p-2">
        <ol-map
            [lat]="-15.496032 "
            [lon]="-50.053711"
            [zoom]="2.8"
            [width]="mapWidth"
            [height]="mapHeight"
            (ready)="onMapReady($event)">
            <ol-control class="mobileHide" control="FullScreen"></ol-control>
            <ol-control class="mobileHide" control="scaleline"></ol-control>
            <ol-control class="mobileHide" control="zoomtoextend" [options]=""></ol-control>
            <ol-layer *ngFor="let layer of layers" [layer]="layer"></ol-layer>
        </ol-map>
    </div>
</div>
