.map-content{
    display: flex;
    justify-content: center;
    z-index: 101;
    position: absolute;
}
.limits{
    z-index: 102;
}

.ol-popup {
    position: absolute;
    border-radius: 10px;
    bottom: 12px;
    left: -50px;
}
